@mixin scale-zoomin {
  transform: scale(1.1);
  transition-duration: .7s;
}

@mixin fade-in-default {
  transition-timing-function: cubic-bezier(.215, .61, .355, 1);
  opacity: 0;
  &.animate {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@mixin fade-in-left {
  @include fade-in-default;

  transform: translate(-100px, 0);
}

@mixin fade-in-right {
  @include fade-in-default;

  transform: translate(100px, 0);
}

@mixin fade-in-up {
  @include fade-in-default;

  transform: translate(0, 100px);
}

@mixin fade-in-about {
  @include fade-in-default;

  transform: translate(0, 30px);
}
