@use "sass:math";

// Flex layout
@mixin flex-layout($direction: row, $horizontal-layout: flex-start, $portrait-layout: initial, $is-wrap: nowrap) {
  display: flex;
  width: 100%;
  max-width: 100%;
  flex-wrap: wrap;
  flex-direction: $direction;

  @if $direction == "row" {
    justify-content: $horizontal-layout;
    align-items: $portrait-layout;
  } @else if $direction == "column" {
    justify-content: $portrait-layout;
    align-items: $horizontal-layout;
    flex-wrap: $is-wrap;
  }
}

// Render the corresponding css style
@mixin fluidder($values, $property: font-size) {
  @if $values {
    $val-desktop: fluid-val($values);
    $val-origin: px2calculations($values);
    $val-space-origin: px2calculations($values, $font-size-root);

    #{$property}: $val-origin;

    @include tablet-up {
      #{$property}: $val-desktop;
    }

    @include mobile {
      #{$property}: $val-space-origin;
    }
  }
}
