// Flex layout
@mixin flex-layout($direction: row, $horizontal-layout: flex-start, $portrait-layout: initial, $is-wrap: nowrap) {
  display: flex;
  flex-wrap: wrap;
  flex-direction: $direction;

  @if $direction == "row" {
    justify-content: $horizontal-layout;
    align-items: $portrait-layout;
  } @else if $direction == "column" {
    justify-content: $portrait-layout;
    align-items: $horizontal-layout;
    flex-wrap: $is-wrap;
  }
}
