// Image Mixins
// - Responsive image

@mixin img-fluid {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

@mixin media-ratio($height: 9, $width: 16) {
  position: relative;
  width: 100%;
  height: 0;
  margin: 0;
  padding-bottom: px2percent($height, $width);

  > * {
    @include set-content-center-up-down;

    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    object-fit: cover;
  }
}
