.box {
  @include box;
}
.box-sm {
  @include box-sm;
}
.box-xs {
  @include box-xs;
}
.box-gutter20 {
  > * {
    margin-bottom: px2calculations($paragraph-margin-bottom-xs);
  }
}
.box-gutter30 {
  > * {
    margin-bottom: px2calculations(30);
  }
}
.box-gutter40 {
  > * {
    margin-bottom: px2calculations(40);
  }
}

.box-primary {
  @include box-primary;

  .anchor-content-list & {
    @include mobile {
      padding-top: px2calculations(60);
      padding-bottom: px2calculations(60);
    }
  }
}
.box-primary-sm {
  @include box-primary-sm;
}
.box-primary-xs {
  @include box-primary-xs;
}
.box-primary-xxs {
  @include box-primary-xxs;
}
.box-secondary {
  @include box-secondary;
}
