// Custom icon
.tis-icon-colon {
  @include colon;
}
.bars {
  @include bar;
}
.slide-show {
  &::after {
    transform: rotate(-45deg);
  }
}
.icon-rss {
  font-size: px2calculations(25);

  @include tablet-below {
    font-size: px2calculations(20);
  }
}
.icon-close {
  @include close-icon;

  display: inline-block;
  width: px2calculations(12);
  height: px2calculations(12);
  margin-left: px2calculations(12);
  cursor: pointer;

  &::before,
  &::after {
    top: px2calculations(5);
  }
}
.plus-minus-icon {
  @include plus-minus-icon;
}
.triangle-arrow-down {
  @include triangle-arrow-down;

  .slide-show & {
    @include triangle-arrow-top;
  }
}
.triangle-arrow-top {
  @include triangle-arrow-top;

  .slide-show & {
    @include triangle-arrow-down;
  }
}
.icon-long-arrow {
  @include right-arrow($size: 12, $borderSize: $border-size-md, $color: $black);

  &::after {
    right: auto;
  }
  &.reverse {
    line-height: 0;
    transform: rotate(180deg);
  }
}
