@use "sass:math";
/*
* Reset settings
*/
*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}

:root {
  --banner-content-height: 400px;
  --header-height: fluid-val(56);

  @include mobile {
    --banner-content-height: 185px;
  }
}

html {
  font-size: #{$font-size-root}px;
  overflow-x: hidden;
  overflow-y: scroll;
}

body {
  @include fluidder(7, font-size);

  font-family: "Poppins", sans-serif;
  word-break: break-word;
  -webkit-print-color-adjust: exact;
  -moz-print-color-adjust: exact;
  -ms-print-color-adjust: exact;
  print-color-adjust: exact;
  color: $theme-font-color;
  line-height: $line-height-normal;
}

.visually-hidden {
  visibility: hidden;
}

.hide {
  display: none !important;
}

em,
label,
strong,
time {
  font-weight: bold;
}

// Reset margins
*:first-child {
  margin-top: 0;
}
*:last-child {
  margin-bottom: 0;
}

// Reset link
.dialog-off-canvas-main-canvas,
body.cke_editable {
  a,
  button.link {
    color: $link-color;
    text-decoration: $link-decoration;

    > *.field {
      color: $link-color;
    }

    &.inline-link {
      color: $inline-link-color;
    }

    &:hover {
      &:not(.toolbar-icon, .btn, .node-preview-backlink, .use-ajax) {
        color: $link-hover-color;

        > *.field {
          color: $link-hover-color;
        }
      }

      text-decoration: $link-hover-decoration;
    }
  }
}
a.icon,
a.button,
a[href="#"],
a:not([href], [class]),
a[aria-label="linkedin"] {
  &,
  &:hover {
    text-decoration: none;
  }
}
a.ext {
  &::after {
    content: none;
  }
  + [class*="icon"] {
    display: none;
  }
  &:hover {
    text-decoration: none;

    &:not(.btn-primary) {
      span:first-child {
        text-decoration: underline;
      }
    }
  }
}

// Reset Image
img,
svg {
  @include img-fluid;
}
picture {
  width: 100%;
  source {
    height: 0;
  }
}
.align-center {
  img {
    display: block;
    margin: auto;
  }
}

// Reset Button
button:focus,
input:focus-visible,
.button:focus {
  outline: 0;
}

input,
button,
.button,
select,
optgroup,
textarea,
.form-item {
  margin: 0;
  line-height: normal;
}

// list
ul,
ol {
  @include fluidder(6, padding-left);

  list-style: none;
  li {
    display: flex;
    align-items: center;
    list-style: none;
  }

  &:not(.contextual-links, [class*="tab"], [class*="menu"]) {
    li {
      &::before {
        @include fluidder(3, width);
        @include fluidder(3, height);

        position: absolute;
        left: 0;
        flex: none;
        border-radius: 50%;
        background-color: currentColor;
        margin-right: 6px;
        content: "";
      }
    }
  }
}
ol {
  list-style: decimal;
}

// hr
hr {
  height: 0;
  margin-top: px2calculations($paragraph-margin-bottom-sm);
  margin-bottom: px2calculations($paragraph-margin-bottom-sm);
  border-top: none;
  border-bottom: 1px solid $theme-line-color;

  .anchor-content-list & {
    border-color: $theme-border-color;
  }
}

// checkbox and radio
input[type="checkbox"],
input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  margin-right: px2calculations(10);

  + label {
    margin-right: px2calculations(30);
  }
}
input[type="radio"] {
  border: none;

  .search-box & {
    margin-bottom: px2calculations(20);
  }
}
