@use "sass:math";
/*
* Reset settings
*/
*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}

html {
  font-size: #{$font-size-root}px;
  overflow-x: hidden;
  overflow-y: scroll;
}

body {
  background: $white;
  word-break: break-word;
  -webkit-print-color-adjust: exact;
  -moz-print-color-adjust: exact;
  -ms-print-color-adjust: exact;
  print-color-adjust: exact;
}

html,
body {
  height: 100%;
}

.visually-hidden {
  visibility: hidden;
}

.hide {
  display: none;
}

em,
label,
strong,
time {
  font-weight: bold;
}

// Reset margins
*:first-child {
  margin-top: 0;
}
*:last-child {
  margin-bottom: 0;
}

// Reset link
.dialog-off-canvas-main-canvas,
body.cke_editable {
  a,
  button.link {
    color: $link-color;
    text-decoration: $link-decoration;

    > *.field {
      color: $link-color;
    }

    &.inline-link {
      color: $inline-link-color;
    }

    &:hover {
      &:not(.toolbar-icon, .button, .node-preview-backlink, .use-ajax) {
        color: $link-hover-color;

        > *.field {
          color: $link-hover-color;
        }
      }

      text-decoration: $link-hover-decoration;
    }
  }
}
a.icon,
a.button,
a[href="#"],
a:not([href], [class]),
a[aria-label="linkedin"] {
  &,
  &:hover {
    text-decoration: none;
  }
}
.link-has-arrow {
  @include link-has-arrow;
}
a.ext {
  &::after {
    content: none;
  }
  + [class*="icon"] {
    display: none;
  }
  &:hover {
    text-decoration: none;

    &:not(.btn-primary) {
      span:first-child {
        text-decoration: underline;
      }
    }
  }
}

// Reset Image
img,
svg {
  @include img-fluid;
}
picture {
  width: 100%;
  source {
    height: 0;
  }
}
.align-center {
  img {
    display: block;
    margin: auto;
  }
}

// Reset Button
button:focus,
input:focus-visible,
.button:focus {
  outline: 0;
}

input,
button,
.button,
select,
optgroup,
ul.menu,
textarea {
  margin: 0;
  line-height: inherit;
}

// list
ul,
ol {
  padding-left: px2calculations(20);

  &.menu {
    list-style: none;
    li {
      list-style: none;
    }
  }

  li {
    color: $deep-gray;
  }

  .item-list & {
    &:not(.quicktabs-tabs) {
      margin-top: px2calculations(20);
      margin-bottom: px2calculations(40);

      @include mobile {
        margin-bottom: px2calculations(-10);
      }
      li {
        position: relative;
        margin: 0 0 px2calculations(10) 0;
        padding: 0 0 0 px2calculations(20);
        list-style: none;

        &:not(:last-child) {
          padding-bottom: px2calculations(10);
          border-bottom: 1px solid $theme-line-color;
        }

        &::before {
          content: "";
          position: absolute;
          left: 7.5px;
          top: px2calculations(10);
          display: inline-block;
          width: 5px;
          height: 5px;
          border-radius: 50%;
          background-color: $black;

          @include mobile {
            width: 3px;
            height: 3px;
          }
        }
      }
    }
  }
}
ol {
  list-style: decimal;
}

// hr
hr {
  height: 0;
  margin-top: px2calculations($paragraph-margin-bottom-sm);
  margin-bottom: px2calculations($paragraph-margin-bottom-sm);
  border-top: none;
  border-bottom: 1px solid $theme-line-color;

  .anchor-content-list & {
    border-color: $theme-border-color;
  }
}

// checkbox and radio
input[type="checkbox"],
input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  margin-right: px2calculations(10);

  + label {
    margin-right: px2calculations(30);
  }
}
input[type="radio"] {
  border: none;

  .search-box & {
    margin-bottom: px2calculations(20);
  }
}
