// Container
.contanier {
  @include set-container;
  @include flex-layout(column, center, flex-start);

  height: 100%;
}

.position-relative {
  position: relative;
}

// Row
// Rows contain your columns.
.row {
  @include make-row;

  > * {
    @include make-col-ready;

    > * {
      width: 100% !important;
    }
  }
}

@include make-grid-columns;
