// Container
.contanier {
  @include set-container;
  @include flex-layout(column, center, flex-start);

  height: 100%;
  background-color: $white;
}

.position-relative {
  position: relative;
}

// Row
// Rows contain your columns.
.row {
  @include make-row;

  > * {
    @include make-col-ready;

    > * {
      width: 100% !important;
    }
  }
}
.column {
  @include flex-layout(column);

  &:not(:last-child) {
    margin-bottom: fluid-val(-20);
  }

  > *:not(:last-child) {
    margin-bottom: fluid-val(20);
  }
}

@include make-grid-columns;
