// Pc
@each $key, $value in $spacing-size-groups {
  // margin
  .ml#{$key} {
    margin-left: #{$value}px !important;
  }
  .mr#{$key} {
    margin-right: #{$value}px !important;
  }
  .mt#{$key} {
    margin-bottom: #{$value}px !important;
  }
  .mb#{$key} {
    margin-bottom: #{$value}px !important;
  }
  .mx#{$key} {
    margin-left: #{$value}px !important;
    margin-right: #{$value}px !important;
  }
  .my#{$key} {
    margin-top: #{$value}px !important;
    margin-bottom: #{$value}px !important;
  }

  // padding
  .pt#{$key} {
    padding-top: #{$value}px !important;
  }
  .pl#{$key} {
    padding-left: #{$value}px !important;
  }
  .pr#{$key} {
    padding-right: #{$value}px !important;
  }
  .pb#{$key} {
    padding-bottom: #{$value}px !important;
  }
  .px#{$key} {
    padding-left: #{$value}px !important;
    padding-right: #{$value}px !important;
  }
  .py#{$key} {
    padding-top: #{$value}px !important;
    padding-bottom: #{$value}px !important;
  }
}
