// Container
.container {
  @include set-container;
  @include flex-layout(column);

  height: 100%;

  &.x-center {
    align-items: center;
  }
}

// Row
// Rows contain your columns.
@include default-row;

.column {
  @include flex-layout(column, initial, initial);

  > *:not(:last-child) {
    @include fluidder(7, margin-bottom);

    &.page-container {
      margin-bottom: 0;
    }
  }
}

@include make-grid-columns;

// Position
.posi-relative {
  position: relative;
}

// Flex
.only-row {
  display: flex;

  @include ch-posi;
}
.flex-none {
  flex: none;
}
.flex-1 {
  flex: 1 1 0%;
}
.flex-auto {
  flex: 1 1 auto;
}

// media
@each $key, $value in $grid-breakpoints {
  .media-down-#{$key} {
    display: none;

    @include media-breakpoint-down($key) {
      display: block;
    }
  }
}

@each $key, $value in $grid-breakpoints {
  .media-up-#{$key} {
    display: none;

    @include media-breakpoint-up($key) {
      display: block;
    }
  }
}
