@each $key, $value in $color-group {
  // Color
  .c-#{$key} {
    color: $value !important;

    &::before {
      color: $value !important;
    }
  }

  // Border color
  .b-#{$key} {
    border-color: $value !important;
  }

  // Background color
  .bg-#{$key} {
    background-color: $value !important;
  }
}
