// Container
html,
body {
  height: 100%;
}

.page-container {
  @include set-container($gutter: 0);

  padding-top: (var(--header-height));
  padding-bottom: px2calculations($paragraph-margin-bottom);

  @include mobile {
    padding-bottom: px2calculations(60);
  }
}
