// Footer
.footer-wrapper {
  margin-top: auto;
  .region {
    @include set-container;

    &.region-footer-copyright,
    &.region-footer-menu,
    &.region-footer-contact-us {
      @include mobile {
        padding-left: 0;
        padding-right: 0;
      }
    }
    &.region-footer-menu {
      .block-system-branding-block {
        margin-top: px2calculations($paragraph-margin-bottom-lg);

        @include mobile {
          margin-top: 0;
        }
      }
    }
  }
  .footer-contact-us {
    position: relative;
    .region {
      @include flex-column-centered-horizontally;

      margin: 0 auto px2calculations($paragraph-margin-bottom);
      padding-left: 0;
      padding-right: 0;

      .block,
      .contextual-region {
        position: unset;
      }

      @include mobile {
        background-color: transparent;
        margin-bottom: px2calculations(10);

        .max-922 {
          padding-left: px2calculations(24);
          padding-right: px2calculations(24);

          p {
            text-align: left;
          }
        }
      }
    }
  }
  .footer-copyright {
    border-top: 1px solid $terumo-deep-green;
    .region {
      @include flex-column;

      > *:first-child {
        padding: px2calculations(22) 0 px2calculations(10);

        @include mobile {
          padding: px2calculations($spacer * 6) px2calculations(14.5) 0;
        }
      }

      .block-menu {
        ul {
          margin: 0;
          li {
            @include vertical-bar;

            padding: 0 px2calculations(20);

            @include mobile {
              padding: 0 px2calculations(15);
              .icon-share {
                margin-left: px2calculations(5);
              }
            }

            &:first-child {
              padding-left: 0;
            }

            &:last-child {
              &::after {
                content: none;
              }
            }

            @include mobile {
              margin-bottom: px2calculations($spacer * 6);
            }
          }
        }
      }
    }
  }
}
