.com-header {
  position: fixed;
  left: 0;
  right: 0;
  top: auto;
  z-index: 501;
  background-color: $white;
  border-bottom: 1px solid $theme-primary-color;
}
.header-container {
  padding-top: px2calculations(22);
  background-color: $white;

  @include tablet-below {
    height: px2calculations(60);
    &.active {
      height: auto;
    }
  }
  .header-content {
    @include set-container($gutter: 0);
    @include flex-layout;
  }

  @include tablet-below {
    padding: 0;
  }
}
