// Breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
) !default;

// Grid columns
$grid-columns: 12 !default;
$grid-gutter-width: 3 !default;
$grid-gutter-y-width: 7 !default;
$grid-row-columns: 6 !default;
$gutters: $spacing-size-groups !default;
