// Colors
$red: #ff0006;
$orange: #ffa007;
$yellow: #ffc107;
$dark-green: #008060;
$light-green: #b1caa9;
$blue: #0dcaf0;
$purple: #6f42c1;
$white: #fff;
$black: #000;

// Gray color
$light-gray: #b7b7b7;
$dark-gray: #e6e6e6;
$deep-gray: #4b4b4b;

// Bg color
$bg-color: $light-gray;
$bg-light-color: $light-gray;
$bg-deep-color: $dark-gray;

// ThemeColor
$theme-primary-color: $orange;
$theme-secondary-color: $blue;
$theme-line-color: $light-green;
$theme-border-color: $light-gray;

// Color group
$color-group: (
  "red": $red,
  "orange": $orange,
  "yellow": $yellow,
  "dark-green": $dark-green,
  "light-green": $light-green,
  "blue": $blue,
  "purple": $purple,
  "light-gray": $light-gray,
  "gray": $deep-gray,
  "white": $white,
  "black": $black,
);

// Scss-docs-start box-shadow-variables
$box-shadow: 2px 5px 11px rgba($black, .15);
