@use "sass:math";

// Mobile width
$base-mobile-width: 768;
$ui-width: 768;

// Coefficient of variation
$coefficient-of-variation: 10;
$max-of-variation: math.div(1440, $ui-width);

// Pc Width
$ue-width: $ui-width * $max-of-variation;
$content-width: $ui-width * $max-of-variation;
