// Width
$ue-width: 1980;
$content-width: 1780;
$base-page-content-width: 922px;
$base-page-content-width-md: 794px;
$base-page-content-width-sm: 600px;
$base-two-column-width: 840px;

// common width
$base-mobile-width: 375;
$ue-width-desktop: 1438;
$ue-width-content-desktop: 1243;
$ue-width-content-desktop-sm: 922;
