@use "sass:math";

// Coefficient of variation
$coefficient-of-variation: 10;
$max-of-variation: math.div(1440, 595);

// Pc Width
$ui-width: 595;
$ue-width: $ui-width * $max-of-variation;
$content-width: $ui-width * $max-of-variation;

// Mobile width
$base-mobile-width: 375;
