@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

// Base font
$font-size-root: 7;
$font-medium: 500;
$font-bold: 600;
$font-bold-max: 700;
$line-height-normal: normal;

// Unit
$unit-map: (
  "px": 1px,
  "rem": 1rem,
  "em": 1em,
  "vw": 100vw,
  "vh": 100vh,
  "%": 100%
);

// linelip
// linelip-variables-maps
$linelip-size-groups: (
  1: 1,
  2: 2,
  3: 3,
  4: 4,
  5: 5,
);

// Icon font
$icon-font-group: (
  "search": (
    "type": "\e902",
    "color": $theme-primary-color
  ),
  "clock": (
    "type": "\e906",
    "color": $white
  ),
  "shopping-chart": (
    "type": "\e90c",
    "color": $white
  ),
  "warehouse": (
    "type": "\e909",
    "color": $white
  ),
  "double-arrow": (
    "type": "\e903",
    "color": $white
  ),
  "compound-path": (
    "type": "\e904",
    "color": $white
  ),
  "pill": (
    "type": "\e90a",
    "color": $white
  ),
  "circle-close": (
    "type": "\e900",
    "color": $black
  ),
  "circle": (
    "type": "\e901",
    "color": $black
  ),
  "close": (
    "type": "\e905",
    "color": $black
  )
);
