// Space
// Spacer-variables-maps
$spacer: 5;
$spacing-size-groups: (
  $spacer * 0: $spacer * 0,
  $spacer * .6: $spacer * .6,
  $spacer * 1: $spacer * 1,
  $spacer * 2: $spacer * 2,
  $spacer * 3: $spacer * 3,
  $spacer * 4: $spacer * 4,
  $spacer * 5: $spacer * 5,
  $spacer * 6: $spacer * 6,
  $spacer * 7: $spacer * 7,
  $spacer * 8: $spacer * 8,
  $spacer * 9: $spacer * 9,
  $spacer * 10: $spacer * 10,
  $spacer * 11: $spacer * 11,
  $spacer * 12: $spacer * 12,
  $spacer * 13: $spacer * 13,
  $spacer * 14: $spacer * 14,
  $spacer * 15: $spacer * 15,
  $spacer * 16: $spacer * 16,
  $spacer * 17: $spacer * 17,
  $spacer * 18: $spacer * 18,
  $spacer * 20: $spacer * 20,
  $spacer * 22: $spacer * 22,
  $spacer * 23: $spacer * 23,
);

// Spacer-common
$common-padding-x: map-get($spacing-size-groups, 20);

// Spacer-module
$paragraph-margin-bottom-sm: map-get($spacing-size-groups, 40);
$paragraph-margin-bottom: map-get($spacing-size-groups, 80);

// Border
$border-size-sm: 1;
$border-size-md: 2;
$border-size-radius-1: 15;
$border-size-radius-2: 4;
